@charset "UTF-8";
body {
	width : 1080px;
	margin-left : auto;
	margin-right : auto;
	
}
.all {
	margin-top : 100px;
	margin-left : 100px;
	margin-right: 200px;
	
}
.hall2 {


}
.A1 {
	text-align : right;
   	margin-bottom : 50px;
}

.A2 img {
	width : 600px;
}
.A2 {

    position: relative;
	
}
.list {
	width : 95%;
	margin-top : 50px;
	margin-bottom : 50px;
	color : black;
	
	font-size : 14px;
}
.list tr th {
	width : 20%;
	padding: 10px 15px 10px 15px;
	text-align : left;
	background-color : white;
	
}
.list tr th img {
    width: 100%;
    height: 50px;
}
.list td {
	padding-left : 10px;
}
.submit {
	margin-bottom : 20px;
}
.map {
	width : 700px;
	height : 500px;
}
.mapbtn {
	margin-bottom : 10px;
}