<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.board.dao.ICalendarDAO">
<!--    <resultMap id="calendar" type="Calendar">
        <id property="calNo" column="calNo" />
        <result property="calTitle" column="calTitle" />
        <result property="calDetail" column="calDetail" />
        <result property="calStart" column="calStart" />
        <result property="calEnd" column="calEnd" />
        <result property="calURL" column="calURL" />
    </resultMap>

    <select id="showSchedule" resultMap="com.project.borad.model.CalendarVO">
        select * from calendar
    </select>-->
</mapper>