<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.project.board.dao.IMusicalDAO">
 	<!-- 뮤지컬 상세 데이터 조회 -->
    <select id="getMusical" resultType="com.project.board.model.MusicalVO" parameterType="string">
        select * from musical m, genre g where m.muscGenre = g.genreNo and m.muscNo = #{muscNo}
    </select>
    
    <select id="getMusicalListByGenre" resultType="com.project.board.model.MusicalVO" parameterType="string">
        select * from musical m, genre g where g.genreNo = m.muscGenre AND g.genreNo = #{genreNo}
    </select>
    
    <select id="getActorCast" resultType="com.project.board.model.ActorCastVO" parameterType="string">
        SELECT a.actorName, a.actorProfile, c.roleName FROM actor a, muscCast c WHERE a.actorNo = c. actorNo AND c.muscNo= #{muscNo}
    </select>

    <select id="getAllMusical" resultType="com.project.board.model.MusicalVO" parameterType="string">
        select * from musical 
    </select>
    
    <select id="getMusicalAllList" resultType="com.project.board.model.MusicalVO" parameterType="string">
        select * from musical
    </select>

    <update id="voteUp" parameterType="com.project.board.model.MusicalVO">
        UPDATE musical SET musicalVote = musicalVote + 1
        WHERE muscNo = #{muscNo}
    </update>
    
    <insert id="insertMusical"  parameterType="com.project.board.model.MusicalVO">
  		INSERT INTO musical
  		VALUES (#{muscNo}, #{muscName}, #{muscHashtag}, #{muscPlace},
				#{muscPlaceLink},#{muscStartDate}, #{muscEndDate}, #{muscQuote},
                #{muscReqTime}, #{muscSynop}, #{muscGenre}, #{muscImg},
                #{muscInfo_1}, #{muscInfo_2}, #{muscInfo_3}, #{muscYoutube},0,#{location})
  	</insert> 

	<delete id="deleteMusical" parameterType="string">
		DELETE FROM musical WHERE  muscNo = #{muscNo}
	</delete>
	
	<select id="muscNoCheck" parameterType="string" resultType="integer">
		SELECT count(muscNo) FROM musical WHERE muscNo = #{muscNo}
	</select>
	
	<update id="updateMusical" parameterType="com.project.board.model.MusicalVO">
        UPDATE musical 
        SET muscNo = #{muscNo}, muscName = #{muscName}, muscHashtag = #{muscHashtag},
        			 muscPlace = #{muscPlace}, muscPlaceLink = #{muscPlaceLink},
        			 muscStartDate = #{muscStartDate}, muscEndDate = #{muscEndDate}, muscReqTime = #{muscReqTime},
        			 muscSynop = #{muscSynop}, muscGenre = #{muscGenre}, muscImg = #{muscImg}, 
        			 muscInfo_1 = #{muscInfo_1}, muscInfo_2 = #{muscInfo_2}, muscInfo_3 = #{muscInfo_3}, 
        			 muscYoutube = #{muscYoutube}, location = #{location} WHERE muscNo = #{muscNo}
    </update>
	
	<!-- Actor -->
	
	
	
</mapper>
  
  