/* calendar.css */

.calendarBox{
    width: 400px;
    margin-left: 5px;
}

.calHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calMain{
    padding-top: 10px;
}

.year_month{
    font-size: 23px;
    padding-left: 10px;
}

.nav{
    display: flex;
    border: 1px solid #333333;
    border-radius: 5px;
}

.nav-btn {
    width: 30px;
    height: 23px;
    border: none;
    font-size: 12px;
    line-height: 22px;
    background: transparent;
    cursor: pointer;
}

.go-today{
    width: 75px;
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
}

.days{
    display: flex;
    margin: 15px 0 15px;
}

.day{
    width: 80px;
    text-align: center;
}

.dates{
    display: flex;
    flex-flow: row wrap;
    height: 250px;
    border-top: 1px solid #333333;
    border-right: 1px solid #333333;
}

.date{
    width: calc(70% / 7);
    padding: 8px;
    text-align: right;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #333333;
}

.day:nth-child(7n + 1), .date:nth-child(7n + 1) {
    color: #D13E3E;
}

.day:nth-child(7n), .date:nth-child(7n) {
    color: #396EE2;
}

.other {
    opacity: .3;
}

.today{
    position: sticky;
    color: #ffffff;
}

.today::before {
    position: absolute;
    z-index: -1;
    display: block;
    background-color: blueviolet;
    width: 57px;
    height: 49px;
    transform: translate(-15%, -16%);
    content: '';
}