@charset "UTF-8";

input::-webkit-input-placeholder {
  text-align: center;
}

#modal {
  position:fixed;
  width:100%;
  height:100%;
  background:rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 99;
  display: none;
}

#popUp{
	width: 450px;
    left: 42.5%;
    height: 500px;
    top: 40%;
    margin-top: -150px;
    display: none;
    z-index: 9999;
    position: fixed;
    box-shadow: 3px 3px 7px 1px grey;
} 

#popUp_how {
    height: 78px;
    width: 444px;
    margin-left: 28px;
    border: 1px solid #82bf77;
    margin-top: 22px;
}

#chatHeader{
	padding-bottom: 35px;
	border-bottom: 4px solid #95a6b4;
	background-color: skyblue;
	border-radius: 10px 10px 0px 0px;
}

#btnClose {
	border: none; 
	background: none; 
	float: left;
	font-size:30px;
	padding-top: 4px;
}

#disign{
	display: inline;
}

#result{
	margin-bottom: 8px;
    position: relative;
    top: 25px;
    left: -82px;
    font-size: 15px;
    line-height: 24px;
    max-width:234px;
}


#in_me{
	display: block;
	height: 25px;
	line-height: 18px;
	background:#fef01b; 
	margin-top: 10px;
}

#bot_profile {
	border-radius: 50%;
	width: 30px;
	height: 30px;
	text-align:center;
	font-size: 22px;
	background-color: purple;
	margin-right: 10px;
}
 
#bot_name{
	background-color: #9bbbd4;
	width: 74px;
    height: 20px;
    font-size: 10px;
    margin-bottom: -5px;
}

#chatBox {
	height: 100%;
    width: 419px;
	overflow-y:scroll;
	padding:10px 15px;
	background:#9bbbd4;
} 	 

#message {
	width: 368px;
	height: 35px;
	border-radius: 0px 0px 0px 10px;
	border : 0px;
}

#submit {
	float: right;
    height: 35px;
    width: 81px;
    border: none;
    border-left: 1px solid black;
    background: #fff;
    border-radius: 0px 0px 10px 0px;
    margin-right: 1px;
}
	


#submit:hover{
	color : red;
	background : rgb(255, 238, 255);
	border: 1px solid red;
	border: none;
    border-left: 1px solid black;
	transition : 0.5s;	 
	
}

.msgBox  span {
	padding:3px 5px; 
	word-break:break-all;
	display:block; 
	margin-bottom: 10px;
	border-radius: 10px;
}
							 
.msgBox.send  span {
	float:right;
}

#in {
	width: 420px;
    background: #9bbbd4;
    position: relative;
    margin-bottom: 0px;
    display: block;
    margin-bottom: 19px;
}


.msgBox.receive  span {
	background:#ffffff;
	float:left;
}

