*{
    margin: 0;
    padding: 0;
    /*background-color: #FFFFFF;*/
}

#wrap{
    text-align: center;
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

#chatBtn{
    position: fixed;
    z-index: 999;
    right: 170px;
    bottom: 20px;
}
