@charset "UTF-8";

body {
	width : 1080px;
	margin-left : auto;
	margin-right : auto;
	
}
#공연장 { 
	margin-bottom : 50px;
	color : black;
}
.wrap {
	margin-bottom : 50px;
}
#지역 { 
	text-align : left;
	margin-left : 110px;
	color : black;
	font-size : 25px;
	font-weight: bold;
	
}
.hall {
	text-align : center;
	margin-top : 100px;
	height : 200px;
}

.list {
	width : 80%;
	margin-left : auto;
	margin-right : auto;
	margin-bottom : auto;
	color : black;
	background-color : white;
}
.list tr th {
	width : 20%;
}
.list tr th img {
    width: 100%;
    height: 50px;
}
