@charset "UTF-8";

body {
	width : 1080px;
	margin-left : auto;
	margin-right : auto;
	
}
#공연장 { 
	margin-left : auto;
	margin-right : auto;
	width : 80%; 
	margin-top : 50px;
	margin-bottom : 50px;
	color : black;
	border-radius: 15px 15px 15px 15px; 
	border: 3px solid #FFAD5B; 
	padding: 0.5em 0.6em; color: black;
	font-family : monospace;
	
}

.wrap {
	margin-bottom : 50px;
}
#지역 { 
	width : 150px;
	text-align : left;
	margin-left : 110px;
	color : black;
	font-size : 25px;
	font-weight: bold;
	border-radius: 15px 15px 15px 15px; 
	border: 3px solid #FFAD5B; 
	padding: 0.5em 0.6em; 
	color: black;
	text-align : center;
}
.hall {
	text-align : center;
	padding-top : 30px;
	padding-top : 10px;
	padding-bottom : 30px;
	background: linear-gradient(to right, #ffa7a3, #5673bd);
	padding: 0.43em 1em; 
	font-size: 19px; 
	border-radius: 3px; 
	color: #ffffff;
}

.list {
	width : 80%;
	margin-left : auto;
	margin-right : auto;
	margin-bottom : 50px;
	color : black;
	background-color : white;
}
.list tr th {
	width : 20%;
}
.list tr th img {
    width: 100%;
    height: 50px;
}
