@charset "utf-8";

.bannerMenu{
    background: #F0EDCC;
    color: #234E70;
}

.bannerMenu h2{
    color: #234E70;
    padding-top: 5px;
}

.bannerPoster img{
    width: 123px;
    height: 150px;
}

.bannerPosterTitle{
    margin-top: 10px;
}

#bannerViewItem{
    display: inline-flex;
}

.bannerContent{
    padding: 18px;
}

#bannerName{
    text-align: right;
    padding-right: 100px;
    height: 20px;
}

.secondSection{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    height: 400px;
}

.RecoName{
    text-align: left;
    padding-left: 15px;
    margin-top: 3px;
    color: #FBF8BE;
}

.RecogNumberItem{
    position: relative;
    display: flex;
}

.RecogMain{
    position: relative;
    display: inline-block;
    width: 450px;
}

.RecogMainMenu{
    position: relative;
    height: 350px;
}

.RecogSub{
    position: relative;
    display: inline-block;
    width: 200px;
}

.RecogSubMenu{
    position: relative;
    display: block;
    height: calc(97% /3);
    padding: 2.5px;
}

.RecoNumber{
    width: 660px;
    height: 400px;
    position: relative;
    display: inline-block;
    background-color: #234E70;
    border-radius: 10px;
    padding-right: 7px;
}

.calendar{
    width: 410px;
    height: 390px;
    position: relative;
    display: inline-block;
    margin-left: 10px;
    margin-right: 5px;
    padding-left: 5px;
    padding-bottom: 10px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

#calendar {
    height: 100%;
    width: 400px;
}

.lastSection{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    margin-bottom: 15px;
}

.showMap{
    width: 330px;
    display: inline-block;
    background-color: #deeefc;
    border-radius: 10px;
}

.localHotChoice{
    width: 700px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: #faece2;
    border-radius: 10px;
}

.localHotChoice .bannerContent{
    padding-right: 20px;
    padding-left: 30px;
}

.svg{
    height: 450px;
}

