@charset "EUC-KR";

#main{
	border-bottom:1px solid #f7f7f7
}

#content{
    min-width: 1080px;
    padding-bottom: 60px;
}

.logintitle {
    font-weight: 800;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
}

#logintitle_text {
	width: 400px;
    font-weight: 800;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
}

.loginSection{
    width: 360px;
    margin: 0 auto;
    padding-top: 90px;
    letter-spacing: -.6px;
}

.loginSection input[type=number], .loginSection input[type=text], .loginSection input[type=password] {
    width: 100%;
    height: 54px;
    padding: 0 19px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    font-size: 14px;
    line-height: 20px;
    outline: none;
    margin-bottom:10px;
}

.loginButton, .SingupButton, .GenreButton {
	display: block;
    overflow: hidden;
    width: 400px;
    height: 55px;
     border: 1px solid #ccc;
    border-radius: 3px;
    text-align: center;
    margin-top: 20px;
    color: black;
    background-color:white;
    margin-top: 5px;
}

.loginButton:hover, .SingupButton:hover, .GenreButton:hover {
	display: block;
    overflow: hidden;
    width: 400px;
    height: 55px;
    border: 1px solid red;
    border-radius: 3px;
    text-align: center;
    margin-top: 20px;
    color: red;
    background-color:white;
    margin-top: 5px;
    transition: 0.5s;
}

.loginButton .text_type {
    color: black;
}

.SignupButton .text_type {
    color: black;
}

.GenreButton .text_type {
    color: black;
}