@charset "utf-8";

#headerMenuBox{
    text-align: right;
    background: #FCF6F5;
    padding: 8px;
}

#headerMenuBox a{
    color: black;
    font-weight: bold;
    margin: 3px;
}

#logoBox{
    text-align: center;
}

#logoImage{
    width: 1080px;
}

#headerMenuBox li{
    position: relative;
    display: inline-block;
}

ul {
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

#topMenuBox {
    font-weight: bold;
    padding-right: 10px;
    text-align: center;
    background-color: #FFFFFF;
}

.topMenu, .headerMenu {
    display: inline-block;
}

#topMenuItem li {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    width: 100px;
    height: 50px;

}

#topMenuItem li a{
    display: block;
    transition: all 0.3s;
    color: black;
    width: 130px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

#topMenuItem li a:hover{
    background-color: #cccccc;
    color: black;
}

.sub {
    display: none;
    position: absolute;
    background-color: rgba(210, 210, 210, 0.78);
    z-index: 1;
    opacity: 0.8;
    top: 50px;
    width: 180px;
}


.footerBox{
    text-align: center;
    background-color: #DDC6B6;
}

.footerInner {
    text-align: left;
    display: inline-flex;
}

.footerMutroduce{
    display: inline-block;
    padding: 10px;
    width: 330px;
    margin-left: 10px;
}