@charset "utf-8";

#headerMenuBox {
    text-align: right;
    height: 80px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.header_logo {
    line-height: 80px;
    margin-left: 10px;
    font-size: 18px;
}

.header_logo img {
    width: 250px;
}

#headerMenuBox a {
    color: black;
    font-size: 18px;
    font-family: GowunDodum-Regular, serif;
    font-weight: bold;
    margin-right: 15px;
}

.headerMenu {
    line-height: 100px;
}


#logoBox {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

#logoImage {
    width: 1200px;
}

#headerMenuBox li {
    position: relative;
    display: inline-block;
    line-height: 80px;
    font-size: 18px;
}


#dropMain > li > a {
    display: block;
}

#dropSub {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    padding: 0;
    margin: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 130px;
}

#dropSub > li {
    height: 40px;
    line-height: 40px;
}

#dropMain > li:hover #dropSub {
    opacity: 0.7;
    visibility: visible;
    background-color: #FFFFFF;
}

#dropMain > li > a:hover #dropSub{
    opacity: 1;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.sub {
    display: none;
    position: absolute;
    background-color: rgba(210, 210, 210, 0.78);
    z-index: 1;
    opacity: 0.8;
    top: 50px;
    width: 180px;
}

.footerBox {
    text-align: center;
    background-color: #021726;
    color: #FFFFFF;
    letter-spacing: 0.05em;
    font-family: futra-lt-w05-book, fangsong;
    padding: 5px;
}

.footerInner {
    text-align: left;
    display: inline-flex;
}

.footerMutroduce {
    display: inline-block;
    padding: 10px;
    width: 330px;
    margin-left: 10px;
}