@charset "EUC-KR";

.signUpTitle {
    overflow: hidden;
    width: 1050px;
    margin: 0 auto;
    padding: 50px 0 51px;
}

#main {
    border-bottom: 1px solid #f7f7f7;
    width: 1080px;
    margin: 0 auto;

}

#content {
	display: block;
    width: 1080px;
    margin: 0 auto;
}

#necessaryTxt_box{
	width: 640px;
	height: 25px;
	margin: 0 auto;
	text-align:right;
	display: block;
}

.signUpText{
	text-align : center;
}

#form{
	margin : 0 auto;
	text-align: left;
}

.memberTable{
	margin: 0 auto;
}


.IDdouble_check{
	padding:10px;
	border: 1px solid black;
    background-color: #fff;
    color: black;
    display: inline-block;
    width: 100px;
    height: 45px;
    margin-left: 5px;
    text-align: center;
    border-radius: 3px;
    margin: 3px;
}

.IDdouble_check:hover{
	padding:10px;
	border: 1px solid #ff3333;
    background-color: #fff;
    color: #ff3333;
    display: inline-block;
    width: 100px;
    height: 45px;
    margin-left: 5px;
    text-align: center;
    border-radius: 3px;
    margin: 3px;
    transition : 0.5s;	
}

.Emaildouble_check{
	padding:10px;
	border: 1px solid rgb(0, 255, 255);
    background-color: #fff;
    color: rgb(0, 255, 255);
    display: inline-block;
    width: 80px;
    height: 23px;
    margin-left: 5px;
    text-align: center;
    border-radius: 3px;
    margin: 3px;
}

#form textarea, #form input[type=text], #form input[type=password] {
	width: 320px;
    height: 44px;
    padding: 0 15px;
    border: 1px solid #ccc;
    font-size: 14px;
    color: #333;
    line-height: 20px;
    border-radius: 3px;
    background: #fff;
    outline: none;
    vertical-align: top;
    margin: 3px;
    margin-left: 60px;
    margin-bottom: 10px;
}


.necessary{
	color : red;	
}



.submitBox{
	width: 240px;
	margin: 0 auto;
}

#submitBox{
	width: 240px;
    height: 56px;
    font-size: 16px;
    line-height: 54px;
    margin: 0 auto;
    color: #333;
    border-radius: 3px;
    border: 1px solid #ccc;
    background: #fff;
    margin-bottom: 50px;
}

#submitBox:hover{
	color : red;
	background : white;
	border: 1px solid red;
	transition : 0.5s;	 
}

#checkboxBox{
	margin-left: 60px;	
}

#license{
	margin-left:20px;
}

#family{
	margin-left:74px;
}


