/* vote.css */

.card {
  background: #fff;
  border-radius: 30px;
  display: inline-block;
  height: 320px;
  margin: 1rem;
  position: relative;
  width: 300px;
  float:left;
  margin-bottom:32px;
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
text-align:left;
}

.voteMain{
	margin-top:25px;
}

.voteItem{
	margin-top:72px;
}

.voteMain input[type=radio] {
    display: none;
}

#tab1:checked ~ .tab label:nth-child(1),
#tab2:checked ~ .tab label:nth-child(2){
    box-shadow: none;
	 background-color: #dbd5fd;
	 color:white;
}

.voteContent > div{
    display: none;
}

#tab1:checked ~ .voteContent div:nth-child(1),
#tab2:checked ~ .voteContent div:nth-child(2){
    display: block;

}

.tab{
    overflow: hidden;

}

.voteResult{
    margin-bottom: 15px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    height:300px;
}

.tab label{
    font-size: 18px;
    cursor: pointer;
    float: left;
    width: 50%;
    text-align: center;
    padding: 15px 0;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    user-select: none;
    -webkit-user-select: none;
    background-color: #f6f2ff;
}

.tab label:hover{
    background-color: #dbd5fd;
    color: white;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
}


.voteContent > div{
    padding: 20px;
    font-size: 17px;
    background-color: white;
}

.tableItem{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 1000px;
    border-collapse: collapse;
    
}

  th, td {
    border-bottom: 1px solid #e9e9e9;
    padding: 10px;
  }


.voteResult{
    display: flex;
    justify-content: center;
}

.profileBox{
    width: 100px;
    height: 100px;
    border-radius: 70%;
    overflow: hidden;
    margin: auto;
}

.profileBoxTop{
    width: 200px;
    height: 200px;
    border-radius: 70%;
    overflow: hidden;
    margin: 15px 15px 0px 50px;
}

.profileInfo{
	padding-left:17px;
}

.profile{
    width: 100%;
    object-fit: cover;
}

.voteBtn {
    background-color: #dbd5fd; 
    border: none;
    color: white;
    padding: 9px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
}
.voteBtn {
    background-color: white; 
    color: black; 
    border: 2px solid #dbd5fd;
}


.voteBtn:hover {
    background-color: #dbd5fd;
    color: white;
}

