/* vote.css */

.voteMain input[type=radio] {
    display: none;
}

#tab1:checked ~ .tab label:nth-child(1),
#tab2:checked ~ .tab label:nth-child(2){
    box-shadow: none;
}

.voteContent > div{
    display: none;
}

#tab1:checked ~ .voteContent div:nth-child(1),
#tab2:checked ~ .voteContent div:nth-child(2){
    display: block;

}

.tab{
    overflow: hidden;
}

.voteResult{
    margin-bottom: 15px;
    border: 1px solid black;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.tab label{
    font-size: 18px;
    cursor: pointer;
    float: left;
    width: 50%;
    text-align: center;
    padding: 15px 0;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    user-select: none;
    -webkit-user-select: none;
    background-color: #f6f2ff;
}

.tab label:hover{
    background-color: #dbd5fd;
}

.voteContent > div{
    padding: 20px;
    font-size: 17px;
    background-color: #f6f2ff;
}

table{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 1000px;
}

.voteResult{
    display: flex;
    justify-content: center;
}

.profileBox{
    width: 100px;
    height: 100px;
    border-radius: 70%;
    overflow: hidden;
    margin: auto;
}

.profile{
    width: 100%;
    object-fit: cover;
}

